In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('Cars data.xlsx')

In [3]:
df = pd.DataFrame(data)

In [4]:
df

    Color    Type    Origin Stolen
0     Red  Sports  Domestic    Yes
1     Red  Sports  Domestic     No
2     Red  Sports  Domestic    Yes
3  Yellow  Sports  Domestic     No
4  Yellow  Sports  Imported    Yes
5  Yellow     SUV  Imported     No
6  Yellow     SUV  Imported    Yes
7  Yellow     SUV  Domestic     No
8     Red     SUV  Imported     No
9     Red  Sports  Imported    Yes

In [5]:
df_shape = df.shape

In [6]:
row_size = df_shape[0]
column_size = df_shape[1]

In [7]:
output = input('What is the output column? ')

What is the output column? Stolen

In [8]:
target = df.groupby(output).count()

In [9]:
target

        Color  Type  Origin
Stolen
No          5     5       5
Yes         5     5       5

In [10]:
target_indexes = target.index
target_indexes

Index(['No', 'Yes'], dtype='object', name='Stolen')

In [11]:
# Getting prior probabilities of target variable
target_probabilities = {target_indexes[i]:target.iloc[i][0]/row_size for i in range(len(target))}
target_probabilities

{'No': 0.5, 'Yes': 0.5}

In [12]:
target_count = {target_indexes[i]:target.iloc[i][0] for i in range(len(target))}
target_count

{'No': 5, 'Yes': 5}

In [13]:
all_columns = df.columns
all_columns = list(all_columns)

In [14]:
all_columns.remove(output)
all_columns

['Color', 'Type', 'Origin']

In [15]:
con_prob = []
for i in range(len(all_columns)):
    con_prob.append(all_columns[i]+"_"+output)
con_prob

['Color_Stolen', 'Type_Stolen', 'Origin_Stolen']

In [16]:
for i in range(len(con_prob)):
    con_prob[i] = df.groupby(all_columns[i]).count()
con_prob[1]

        Color  Origin  Stolen
Type
SUV         4       4       4
Sports      6       6       6

In [17]:
p = {con_prob[j].index[k]+"_"+target_indexes[l]:(df.loc[(df[all_columns[j]]==con_prob[j].index[k]) & (df[output]==target_indexes[l])]).groupby(output).count().iloc[0][l] for j in range(len(con_prob)) for k in range(len(con_prob[j].index)) for l in range(len(target_indexes))}

In [18]:
p

{'Red_No': 2,
 'Red_Yes': 3,
 'Yellow_No': 3,
 'Yellow_Yes': 2,
 'SUV_No': 3,
 'SUV_Yes': 1,
 'Sports_No': 2,
 'Sports_Yes': 4,
 'Domestic_No': 3,
 'Domestic_Yes': 2,
 'Imported_No': 2,
 'Imported_Yes': 3}

In [19]:
p = {con_prob[j].index[k]+"_"+target_indexes[l]:((df.loc[(df[all_columns[j]]==con_prob[j].index[k]) & (df[output]==target_indexes[l])]).groupby(output).count().iloc[0][l])/target_count[target_indexes[l]] for j in range(len(con_prob)) for k in range(len(con_prob[j].index)) for l in range(len(target_indexes))}

In [20]:
p

{'Red_No': 0.4,
 'Red_Yes': 0.6,
 'Yellow_No': 0.6,
 'Yellow_Yes': 0.4,
 'SUV_No': 0.6,
 'SUV_Yes': 0.2,
 'Sports_No': 0.4,
 'Sports_Yes': 0.8,
 'Domestic_No': 0.6,
 'Domestic_Yes': 0.4,
 'Imported_No': 0.4,
 'Imported_Yes': 0.6}

In [162]:
color_predict = input('Enter the color of car: ')

Enter the color of car: Red

In [163]:
type_predict = input('Enter the type of car: ')

Enter the type of car: SUV

In [164]:
origin_predict = input('Enter the origin of car: ')

Enter the origin of car: Domestic

In [199]:
def predict(c,t,o):
    prob_yes = p[c+'_'+'Yes']*p[t+'_'+'Yes']*p[o+'_'+'Yes']*target_probabilities['Yes']
    prob_no = p[c+'_'+'No']*p[t+'_'+'No']*p[o+'_'+'No']*target_probabilities['No']
    print(prob_yes)
    if prob_yes>prob_no:
        return('Stolen:Yes')
    else:
        return('Stolen:No')

In [200]:
predict(color_predict,type_predict,origin_predict)

0.024

'Stolen:No'